!*.js
!*.js.map
.npmrc
.nvmrc
jest.config.ts
*.ts
!*.d.ts
.husky
.vscode
index.html
vite.tsx
commitlint.config.js
lint-staged.config.js
renovate.json
tsconfig.json
tsconfig.node.json
types.d.ts
.eslintrc.json
.github
CNAME
